<template name="home">
    <div class="main-content">
        {{> searchbar}}
    </div>

    <div class="ui centered-container">
        {{#if notPerformedSearch}}
            <div class="ui purple resources info inverted segment">
                <span class="small animated fadeInUp ui header">
                    {{resourcesCount}} resources available to search.
                </span>
                <span class="not-mobile">
                    For example <a href="" class="search-example">C#</a>, <a href="" class="search-example">Android</a> or
                    <a href="" class="search-example">AngularJS</a>
                </span>
            </div>
        {{else}}
            {{#ifEsIsSearching index="resources"}}
            {{else}}
                <div class="ui divided relaxed results list">
                    {{#esEach index="resources"}}
                    <a href="{{link}}" target="_blank" class="item animated fadeInLeft">
                        <i class="{{iconClass}} course-type icon"></i>
                        {{#if hasLiked}}
                            <div class="ui basic like trigger-dislike active button">
                                {{count likes}}
                                <i class="like icon"></i>
                            </div>
                        {{else}}
                            <div class="ui basic like trigger-like button">
                                {{count likes}}
                                <i class="like icon"></i>
                            </div>
                        {{/if}}
                        <div class="content">
                            ({{category}})<div class="header">{{name}}</div>
                        </div>
                    </a>
                    {{/esEach}}
                </div>
            {{/ifEsIsSearching}}
            {{> esLoadMoreButton index="resources" classes="ui basic button" howMany=20 }}
        {{/if}}

        {{#ifEsHasNoResults index="resources"}}
        <div class="no-results">No results found!</div>
        {{/ifEsHasNoResults}}
    </div>
</template>
